body {
    background-color: #EFEFF2;
    margin: 0;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 195px;
    background: url(../img/ellipse1.png) -14% 0 no-repeat alt="background image", 
        url(../img/female.png) 135% 100% no-repeat alt = "background image",
        url(../img/ellipse2.png) 125% 65% no-repeat;
}

.course__description {
    width: 648px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 167px;
}

.course__title {
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    margin: 0;
}

.course__text_text {
    margin: 48px 0 50px 0;
}

.course__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 0 62px 0;
}

.course__text__profession {
    margin: 62px 0 2px 0;
}

.course__text__duration {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    display: inline-block;
    border-bottom: 4px solid #504DEE;
    text-align: left;
    padding-bottom: 8px;
}

.course__button {
    background-color: #504DEE;
    color: #FBFBFC;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    padding: 16px 37px;
    margin: 0 0 110px 0;
    border: none;
}

.course__sale {
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    color: #19191C;
    margin: 0 0 8px 0;
}

.course__time {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #19191C;
    margin: 0;
    padding: 0;
}

.course__list {
    flex-grow: 1;
    list-style: none;
    position: relative;
    margin: 166px 0 0 0;
}

.course__list__item {
    position: absolute;
    border: 2px solid #19191C;
    padding: 16px 36px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.course__list__invision {
    top: 105px;
    right: 0px;
}

.course__list__protopie {
    top: 0px;
    right: 223px;
}

.course__list__miro {
    top: 130px;
    right: 487px;
}

.course__list__photoschop {
    top: 310px;
    right: 467px;
}

.course__list__figma {
    top: 455px;
    right: 677px;
}

.course__list__illustrator {
    top: 640px;
    right: 609px;
}

.profession {
    background-color: #FBFBFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 168px 0 0 0;
}

.profession__content {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 141px;
}

.profession__title {
    display: flex;
    flex: 45%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.profession__title__h {
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    margin: 0;
}

.profession__description {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 28px 0 168px 0;
}

.proffession__counters {
    display: flex;
    flex: 55%;
    gap: 103px;
}

.profession__card__item {
    padding: 68px 51px 68px 48px
}

.proffession__counters__number {
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.main__font {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 18px 0;
    padding: 0 0 21px 0;
}

.proffession__counters__name {
    display: inline-block;
    border-bottom: 4px solid #19191C;
    width: 254px;
}

.profession__cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.profession__card__item-green {
    background-color: #DEEFE4;
}

.profession__card__item-yellow {
    background-color: #F3F3D7;
}

.profession__card__item-pink {
    background-color: #EFDEEE;
}

.profession__card__title {
    font-size: 34px;
    line-height: 41px;
    font-weight: 700;
    margin: 0;
}

.profession__card__description {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    display: inline-block;
    border-top: 4px solid #19191C;
    width: 100%;
    padding: 12px 0 0 0;
    margin: 28px 0 0 0;
    list-style-type: decimal;
}

.prices {
    background-color: #FBFBFC;
    display: flex;
    padding: 171px 0 168px 0;
}

.prices__title {
    width: 30%;
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    color: #19191C;
    padding: 0%;
    margin: 0 0 100px 0;
}

.prices__card__item {
    background-color: #DEEFE4;
    height: 633px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 33%;
    padding: 48px 38px 51px 65px;
}

.prices__card__item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.prices__card__item li {
    margin: 0 0 10px 18px;
    position: relative;
}

.prices__card__item li::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #19191C;
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
}

.prices__card__item:hover li::before {
    background-color: #FBFBFC;
}

.prices__card__title {
    font-size: 34px;
    line-height: 41px;
    font-weight: 700;
    margin: 0 0 45px 0;
}

.prices__cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.square {
    margin-bottom: 22px;
}

.prices__card__price {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #6D6D77;
    margin: 0;
}

.prices__card__price__month {
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    color: #19191C;
    margin: 0 0 18px 0;
}

.prices__card__item__button {
    all: unset;
    background-color: #19191C;
    color: #FBFBFC;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    padding: 16px 36px;
}

.prices__card__item:hover {
    background-color: #504DEE;
    color: #FBFBFC;

}

.prices__card__item:hover button {
    background-color: #FBFBFC;
    color: #504DEE;
}

.prices__card__item:hover p {
    color: #FBFBFC;
}

@media screen and (max-width: 1439px) {
    .container {
        width: 95%;
        padding: 20px 10px;
    }

    .course {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 50px;
        background-size: 80%;
        text-align: center;
        gap: 20px;
        justify-content: flex-start;
        background: url(../img/ellipse1.png) 100% 0% no-repeat,
            url(../img/female.png) 24% 190% no-repeat alt="background image";
    }

    .course__description {
        width: 95%;
        align-items: center;
        padding-top: 50px;
    }

    .course__title {
        font-size: 48px;
        line-height: 60px;
    }

    .course__text {
        font-size: 16px;
        line-height: 24px;
    }

    .course__list__item {
        font-size: 16px;
        padding: 12px 28px;
        position: unset;
        margin: 10px;
    }

    .profession__content {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .profession__title {
        flex: unset;
        text-align: center;
    }

    .proffession__counters {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }

    .profession__cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .prices {
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }

    .prices__title {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .prices__cards {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .prices__card__item {
        width: 90%;
        padding: 5px;
    }

    .prices__cards {
        flex-wrap: wrap;
    }

    .prices__cards {
        width: 95%;

    }

    .profession__card__item {
        width: 90%;
        padding: 10px;
    }

    .profession__description {
        margin: 20px 0 0 0;
    }

    .prices__card__title {
        padding: 10px 10px 10px 30px;
        margin: 0;
        text-decoration: underline;
    }

    .prices__card_description {
        margin-left: 10px;
    }

    .prices__card__item__second {
        padding-top: 10px;
    }

    .prices__card__item {
        padding: 0 0 20px 20px;
    }

    .course__description {
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    .course__text__duration,
    .course__text__profession,
    .course__title {
        margin: 0;
        padding: 0;
    }

    .course__sale,
    .course__time {
        margin: 0;
        padding: 0;
        align-items: flex-start;

    }

    .course__text_text {
        margin: 20px 0;
        padding: 0;
    }

    .course__button {
        margin: 0;
    }

    .course__list {
        position: unset;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    .profession {
        padding: 0;
    }
}